body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("restaurant_imgs/sushi.jpg");
    background-size: cover;
    color: #663300;
}


header {
    background-color: #cc6600;
    color: #534b4b;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.recommendation {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 20px;
}

.dish img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.dish img:hover {
    transform: scale(1.2);
}

.promotion {
    color: #8B4513;
}

aside {
    width: 30%;
    background-color: #f0e6d8;
    padding: 20px;
}

footer {
    background-color: #cc6600;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

button {
    background-color: #e79b0d;
    border: none;
    color: #720615;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #FFC100;
}

#recommendations {
    width: 55%;
    background-color: #bb9c86;
    padding: 20px;
    margin: 10;
    border-radius: 10px;
}

#about {
    width: 40%;
    background-color: #ad764f;
    padding: 20px;
    margin: 10;
    border-radius: 10px;
}

#specials {
    width: 40%;
    background-color: #ad764f;
    padding: 20px;
    margin: 10;
    border-radius: 10px;
}