body {
    font-family: 'Arial', sans-serif;
    background-image: url('RX7sco.jpg');
    background-size: cover;
    color: #201e1e;
}

header, h1 {
    background-color: #3c5dec;
    padding: 20px;
    text-align: center;
}

div {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bef576;
    border-radius: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
