body {
    background-image: url('silverware.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    color: #404040;
    font-family: 'Georgia', 'Garamond', serif;
    font-size: 11pt;
}

h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    text-align: left;
    font-size: 18pt;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
}

a {
    color: #A4A400;
}


blockquote {
    background-color: #FFFFA8;
    padding: 10px;
    margin: 10px 0;
}


footer pre {
    font-family: monospace;
    white-space: pre-wrap;
    text-align: left;
}

li {
    list-style: url('pie_icon.gif');
}