/*Hayden Perusek CSC300X HW2        25 Jan 2024.
This assignment tests my understanding of basic HTML and CSS. 
I have created the recipe page for a pie. This is my css file which handles the styling for my website 
I used extra features 1 (background) and 3 (pie bullet) */


body {
    background-image: url('silverware.jpg');
    background-attachment: fixed;
    color: #404040;
    font-family: 'Georgia', 'Garamond', serif;
    font-size: 11pt;
}

h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-size: 18pt;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

a {
    color: #A4A400;
}

blockquote {
    background-color: #FFFFA8;
    padding: 0px;
    margin: 10px 0;
    font-style: italic;
    margin-left: 45px;
}

footer pre {
    font-family: monospace;
    white-space: pre-wrap;
    text-align: left;
}

ul {
    list-style: url('pie_icon.gif');
}